<!-- Proyectos -->
<section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">My recent projects</h2>
    <h3 class="seccion-descripcion">These are some projects I've created recently...</h3>
    <!-- Galeria de Proyectos -->
    <div class="container text-center proyectos-contenedor">
      <div class="row">
        <!-- Proyecto 1 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto1.png" alt="Proyecto 1" loading="lazy">
            <div class="overlay">
              <p>Website for Business</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Proyecto 2 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto2.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Website for Selling 3D Designs</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Proyecto 3 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto3.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Mobile App for Product Management </p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Proyecto 4 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto4.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Travel Agency Website</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Proyecto 5 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto5.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Software for Designing Custom Posters</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Proyecto 6 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto6.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Website for Booking Cabins</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://github.com/hidravneno" target="_blank" rel="noopener noreferrer">
      <button type="button" class="btn btn-info btn-animado">
        See more projects
        <i class="bi bi-arrow-right-circle-fill"></i>
      </button>
    </a>
  </section>