:root {
  --primary-color: #1b1b32;
  --secondary-color: #f5f6f7;
  --text-color: #615151;
  --font-primary: 'Rubik Dirt', cursive;
  --font-secondary: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-secondary);
  color: var(--text-color);
}

/* Barra de navegación con degradado dinámico */
.navbar {
  padding: 1.5rem;
  background: linear-gradient(90deg, #1b1b32, #4a4a8c);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* Animación del degradado */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Efecto de aparición al hacer scroll */
.navbar.scrolled {
  transform: translateY(0);
  background: linear-gradient(90deg, #1b1b32, #4a4a8c);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffcc00;
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand img:hover {
  transform: scale(1.1) rotate(10deg);
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
}

.seccion-oscura {
  color: white;
  background-color: var(--primary-color);
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: var(--font-primary);
  color: black;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Animación de rebote */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

/* Aplicar animación al botón */
.btn-animado {
  animation: bounce 2s infinite;
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover para agrandar */
.btn-animado:hover {
  transform: scale(1.1);
}

/* Seccion Hero */

.hero {
  background-color: var(--secondary-color);
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.sobre-mi.visible {
  opacity: 1;
  transform: translateY(0);
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Animación de aparición de letras */
.sobre-mi .seccion-titulo,
.sobre-mi .seccion-texto {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.sobre-mi.visible .seccion-titulo,
.sobre-mi.visible .seccion-texto {
  opacity: 1;
  transform: translateY(0);
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.experiencia.visible {
  opacity: 1;
  transform: translateY(0);
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: var(--primary-color);
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.proyecto.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Animación desde la derecha */
.proyecto.derecha {
  transform: translateX(50px);
}

.proyecto.derecha.visible {
  transform: translateX(0);
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}


/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

footer.visible {
  opacity: 1;
  transform: translateY(0);
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
  box-shadow: 0 0 20px rgba(13, 110, 253, 0.8), 0 0 30px rgba(13, 110, 253, 0.6);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.iconos-redes-sociales a::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent);
  transform: rotate(45deg);
  transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.iconos-redes-sociales a:hover::before {
  top: 0;
  left: 0;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}